@using PortfolioWebsite.Shared
@inject NavigationManager NavigationManager

<div class="rounded bg-gray-300 p-4">
    <div>
        <h1 class="font-bold text-xl mb-2">@CardData.Title</h1>
        <div>
            <input type="checkbox" class="read-more-state" id="@CardData.Title" />
            <p class="read-more-wrap text-gray-700 text-base">
                @CardData.Preview <span class="read-more-target text-gray-700 text-base">
                    @CardData.Body
                    @foreach (var item in CardData.URL)
                    {
                        <a class="underline" href="@item.Value">@item.Key</a>
                    }
                </span>
            </p>
            <label for="@CardData.Title" class="read-more-trigger cursor-pointer text-gray-700 text-base underline"></label>
        </div>
    </div>
    <div class="mt-4">
        @foreach (string tag in CardData.Tags)
        {
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mb-1">#@tag</span>
        }
    </div>
</div>

<style>

    .read-more-state {
        display: none;
    }

    .read-more-target {
        opacity: 0;
        max-height: 0;
        font-size: 0;
        transition: .05s ease;
    }

    .read-more-state:checked ~ .read-more-wrap .read-more-target {
        opacity: 1;
        font-size: inherit;
        max-height: 999em;
    }

    .read-more-state ~ .read-more-trigger:before {
        content: 'Læs mere';
    }

    .read-more-state:checked ~ .read-more-trigger:before {
        content: 'Læs mindre';
    }
</style>

@code {
    [Parameter] public CardData CardData { get; set; }

    private void Navigate(string url)
    {
        NavigationManager.NavigateTo(url);
    }
}